body{
    background-color:white;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}
html {
    overflow-x: hidden ;
}
p{
    font: size 18px ;
    color: white;
    text-shadow: black 1px 1px 2px;
}


.fundo{
  background-image: url("fundao2.jpg");
  height: 100%;

  /* criar o parallax e o seu efeito */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Menu inicial */
.cabecalho {
    background-color: black;
    color:white;
    width: 100%;
    height: 80px;
    font-size: 20px;
}

.lo{
    float: left;
    margin-left:120px;
    margin-top: 10px;
}



.titulo {
    margin-top: 10px;
    float: left;
    color: 	white;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.comeco span{
    color: white;
}
.nav a {
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav {
    float: right;
    margin-right: 20px;
}

/* corpo do site*/
/* mae é a div que contém todo o conteudo de cada filme */
.mae{
    width: 100%;
    height: 200px;
    margin-top: 150px;
    display: flex;
}
/* abaixo são as config dakasmdokasd */







/* essa abaixo são as classes para configurar os gifs dos filmes */
.imagens_filmese img{ 
    width: 250px;
    height: 180px;
    border-radius: 50px;
    border: grey 3px solid;
    margin-left: 100px;
}

.imagens_filmese {
    float: left;
    display: flex 1;
}

.imagens_filmesd img{ 
    width: 250px;
    height: 180px;
    border-radius: 50px;
    border: yellow 3px solid;
    margin-right: 100px;
}

.imagens_filmesd{
    float: right;
    display: flex 1;
    
}

/* essa abaixo são as classes para configurar os textos dos filmes */

span{
    font-size: 30px;
}
.textos_filmese{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 100px;
    text-align: center;
}

.textos_filmese p{
    padding-top: 15px;
}

.textos_filmesd{
    width: 100%;
    height: 100%;
    margin-left: 100px;
    margin-right: 20px;
    text-align: center;
}

.textos_filmese span{
    float: left;
    color: chartreuse;
}


.textos_filmesd span{
    float: right;
    color: chartreuse;
}



.textos_filmesd p{
    padding-top: 15px;
}


/* essa class é para o rodape */
.rodape{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}
img#you { 
    margin-top: 10px;
    width: 80;
    height: 40px;
}

img#insta {
    margin-top: 10px;
    width: 80;
    height: 50px;
    margin-left: 100px;
}

img#twi {
    margin-top: 10px;
    width: 80;
    height: 50px;
    margin-left: 100px;
}






/* abaixo as configurações da tela de cadastro */

/* formatação e forma de fazer a pag de cadastro desaparecer */
div#foramodal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(44, 44, 44, 0.712);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    z-index: 20;
} 

